body {
  font-family: Helvetica;
}

h1 {
  font-size:70px;
  font-weight:bold;
  color:white;
}

a:link {
  color: white;
}
a:visited {
  color:white;
}

.c18px {
  font-size:18px;
}

.white {
  color:white;
}
.center {
  text-align:center;
}
#top {
  background-image: url("../photos/the-flatiron-building.png")
}
